@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It is a simple mvc project done as part of hiring procedure <a href="https://www.datasense.in/"> DATASENSE </a>.</p>
</div>
